body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, .sugestions h2, h3, .sugestions h1 {
  font-size: 7vw;
  text-align: center;
  font-weight: 100;
}

h2, .sugestions h2 {
  font-size: 4vw;
}

h3 {
  font-size: 2vw;
  font-weight: 900;
}

.sugestions h2, .sugestions h3, .sugestions h1 {
  margin: 15vw auto 0 auto;
}

.sugestions h2 {
  margin: 0;
  text-align: left;
}

.sugestions p, span {
  width: 100%;
  font-size: 1.5vw;
  text-align: left;
}

.sugestions span {
  font-weight: 900;
  padding: 0.1vw 2vw;
}
